@charset "UTF-8";
body {}

.container {}

main {}

.top-section {
	background: url("../img/banner3.jpg") center no-repeat fixed;
	color: rgb(19, 19, 19);
}

.koncept-section1 {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
	text-align: center;
}

.koncept-section1 h1,
.koncept-section2 h1 {
	margin: 40px 0;
	font-size: 1.2em;
	color: rgb(82, 82, 82);
	width: 100%;
}

.koncept-section1 {
	justify-content: space-evenly;
	padding: 60px 0;
	align-items: center;
	justify-content: space-evenly;
}

.koncept-image {
	width: 100px;
}

.koncept-section1 p {
	width: 300px;
	padding: 20px;
}

.koncept-1,
.koncept-2,
.koncept-3 {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}