/*color*/
* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

header {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; }

.logo {
  position: relative;
  top: 25px;
  right: 50px; }

li {
  list-style-type: none; }

header nav a {
  color: black;
  text-decoration: none;
  margin: 10px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold; }

header nav a:hover {
  color: main; }

header img a {
  margin: 0; }

nav {
  display: flex;
  justify-content: center;
  align-items: center; }

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }

.green-button {
  background-color: #4caf50;
  color: white;
  padding: 12px 40px;
  border: none;
  border-radius: 4px;
  cursor: pointer; }

.green-button:hover {
  color: whitesmoke;
  background-color: #4caf50; }

.top-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 25%;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 500px;
  background: url("../img/banner.jpg") center no-repeat fixed;
  background-size: cover; }

.top-section p {
  padding: 2%;
  text-align: center; }

.blur {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.267);
  border-radius: 10px;
  padding: 5% 2%; }

.top-section h1 {
  text-transform: uppercase; }

.main-section {
  color: #525252;
  text-align: center;
  background-color: whitesmoke; }

.main-section h1 {
  padding: 4%;
  background-color: whitesmoke;
  text-transform: uppercase; }

.main-section p {
  padding: 0 25% 10%; }

/* Contact Form Start */
.contact-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  align-items: center;
  justify-content: center; }

.contact {
  grid-column: 1;
  width: 80%;
  padding: 2%;
  text-align: left;
  text-transform: uppercase; }

.contact label {
  padding-left: 5px; }

input[type="text"], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical; }

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 40px;
  border: none;
  border-radius: 4px;
  cursor: pointer; }

/* Contact Form End */
/* Misc-Contact Start */
.misc-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2;
  flex-direction: column; }

.e-mail, .e-mail .icon, .phone {
  margin: 10px; }

.e-mail, .phone {
  display: flex;
  justify-content: center;
  align-items: center; }

.icon {
  width: 50px;
  margin-top: 20px 0 0 20px; }

.social-media .icon {
  cursor: pointer; }

/* Misc-Contact End */
/* Concept-section1 Start */
.concept-section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  height: 50vh;
  padding: 40px; }

.concept-section1 h1 {
  margin-top: 20px;
  font-size: 1.2em;
  color: #525252;
  text-transform: uppercase; }

.concept-section1 p {
  width: 300px;
  padding: 20px; }

.border {
  border: solid 1px #525252;
  border-radius: 2px;
  margin-bottom: 20px; }

.concept-image {
  order: 1;
  width: 200px; }

.concept-section2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #f3f3f3;
  height: 50vh;
  padding: 100px;
  text-align: center; }

.concept-section2 h1 {
  margin: 20px;
  font-size: 1.2em;
  color: #525252;
  text-transform: uppercase; }

.concept-section2 p {
  width: 500px; }

/* Concept-section End */
.services-section {
  height: 50vh; }

.product-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 2%;
  background-color: whitesmoke; }

.product {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.267);
  width: 200px;
  height: 300px;
  margin: 10px;
  transition: all 0.5s;
  color: white;
  border-radius: 10px; }

.product:hover {
  transform: scale(1.05); }

#customize-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  margin: 35px 0; }

#customize-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap; }

#customize-grave {
  display: flex;
  justify-content: center;
  align-items: center; }

#circle {
  width: 100px;
  height: 100px;
  background: black;
  border-radius: 50%; }

#rectangle {
  width: 200px;
  height: 100px;
  background: black; }

#trapezoid {
  border-bottom: 100px solid black;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
  width: 100px; }

#trapezoid .custom-text {
  margin-top: 12vh; }

.customize-item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }

.custom-text {
  font-size: 2vh;
  color: white; }

form {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  flex-flow: column nowrap;
  min-width: 320px; }

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #525252;
  height: 80px;
  width: 100%; }

footer h1 {
  color: whitesmoke; }

/* Mobile view */
@media screen and (max-width: 920px) {
  .container, header, .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }

  .green-button {
    background-color: whitesmoke;
    color: #525252;
    padding: 0px;
    margin: 0;
    border: none;
    cursor: default; }

  .green-button:hover {
    color: #4caf50;
    background-color: inherit; }

  .concept-section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    justify-content: space-around;
    flex-direction: column;
    height: 100vh; }

  .menu {
    padding: 10px; }

  .menu li {
    padding: 2%; }

  .top-section h1,
  .top-section p {
    min-width: 250px;
    max-height: 180px; }

  .logo {
    width: 150px;
    right: 0;
    top: 10px; }

  footer {
    width: 100%; } }

/*# sourceMappingURL=style.css.map */
